{% extends "base.html" %}

{% block title %}{{ budget.user.username }}'s Budget{% endblock %}

{% block content %}
    <h1>{{ budget.user.username }}'s Budget</h1>
    <p>Amount: ${{ budget.amount|floatformat:2 }}</p>
    <p>Start Date: {{ budget.start_date }}</p>
    <p>End Date: {{ budget.end_date }}</p>
    <h2>Allocated Items</h2>
    <ul>
        {% for budget_item in budget.budgetitem_set.all %}
            <li>{{ budget_item.item.name }} - Allocated: ${{ budget_item.allocated_amount|floatformat:2 }}</li>
        {% endfor %}
    </ul>
    
    <h2>Spending per ItemType:</h2>
    <ul>
        {% for item_type in item_type_spending %}
            <li>
                {{ item_type.name }} - Allocated Budget: ${{ item_type.allocated_budget|floatformat:2 }}
                - Total Spent: ${{ item_type.total_spent|floatformat:2 }}
                - Remaining Budget: ${{ item_type.remaining_budget|floatformat:2 }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
